
<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div align="center">
<div class= "col-sm-4">



<%= gravatar_for @user, size: 150 %>

</div>

</div>

<h4 align="center"><%= @user.username %>'s articles</h4>
<div class="paginate">
  <%= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user.articles %>
<div class="paginate">
  <%= will_paginate @user_articles %>
</div>
